@model RoomDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="hero-wrap" style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-m/1280/17/9b/84/ad/view-from-maile-presidential.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <h1 class="mb-4 bread">Room Details</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@if (this.TempData["Success"] != null)
{
    <div class="container">
        <div class="row">
            <div class="alert alert-warning alert-dismissible fade show col-md-12" role="alert">
                <strong> Your reservation was successfull!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="single-slider owl-carousel">
                            <div class="item">
                                <div class="room-img" style="background-image: url(@this.Model.Image);"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url(@this.Model.RoomImages[0].ImageUrl);"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url(@this.Model.RoomImages[1].ImageUrl);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">
                        <h2 class="mb-4">@this.Model.RoomTypeToString<span>- (@this.Model.RoomCount Available rooms)</span></h2>
                        <p>@this.Model.Description</p>
                        <div class="d-md-flex mt-5 mb-5">
                            <ul class="list">
                                <li><span>Max:</span> @this.Model.Adults Persons</li>
                                <li><span>Price:</span> $@this.Model.Price per night</li>
                                <li>
                                    <form method="get" asp-controller="Rooms" asp-action="Reserve" asp-route-id="@this.Model.Id">

                                        <button type="submit" class="btn btn-info">Reserve</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        
                        <div id="wrappingDiv">
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate pl-md-5">
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <ul>
                        
                            <vc:rooms></vc:rooms>

                        </ul>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <p>The friendly family management and the convenient access to the private beach are just a few of the aspects that make the hotel a preferred destination for lovers of the sea, art and hiking trips on some of the most beautiful nature trails.</p>
                </div>
                <div class="sidebar-box ftco-animate">
                    <p>The reception staff at Paradise Beach Hotel, available from 7 am to 8.30 pm, can book guided tours, excursions and tickets to shows and events that make Paradise one of the world’s most sought-after tourist destinations, every season.</p>
                </div>
            </div>
        </div>
    </div>
</section>




