@model IEnumerable<RoomsAllViewModel>

@{
    this.ViewData["Title"] = "Rooms";
}

<div class="hero-wrap" style="background-image: url('https://media.cntraveler.com/photos/5ea9066dcf46c80009a9fd49/master/pass/11Lekkerwater-Beach-Lodge---Bedroom-at-night.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <h1 class="mb-4 bread">Rooms</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb ftco-room">
    <div class="container-fluid px-0">
        <div class="row no-gutters justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Paradise Rooms</span>

            </div>
        </div>
        <div class="row no-gutters">

            @foreach (var room in this.Model)
            {
                <div class="col-lg-6">
                    <div class="room-wrap d-md-flex ftco-animate">
                        <a asp-controller="Rooms" asp-action="Details" asp-route-id="@room.Id" class="img" style="background-image: url(@room.Image);"></a>
                        <div class="half left-arrow d-flex align-items-center">
                            <div class="text p-4 text-center">
                                <p class="star mb-0"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
                                <p class="mb-0"><span class="price mr-1">$@room.Price</span> <span class="per">per night</span></p>
                                <h3 class="mb-3"><a asp-controller="Rooms" asp-action="Details" asp-route-id="@room.Id">@room.RoomType</a></h3>
                                <p class="pt-1"><a asp-controller="Rooms" asp-action="Details" asp-route-id="@room.Id" class="btn-custom px-3 py-2 rounded"><span class="icon-long-arrow-left"></span> View Details</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

