

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@this.ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><span>Paradise</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a asp-controller="Rooms" asp-action="OurRooms" class="nav-link">Our Rooms</a></li>
                    <li class="nav-item"><a asp-controller="Restaurant" asp-action="Paging" class="nav-link">Restaurant</a></li>
                    <li class="nav-item"><a asp-controller="Blogs" asp-action="BlogPage" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a asp-controller="Contacts" asp-action="Contact" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="About" class="nav-link">About Us</a></li>
                </ul>
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/Identity/Account/Register" class="nav-link">Register</a></li>
                        <li class="nav-item"><a href="/Identity/Account/Login" class="nav-link">Login</a></li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/Identity/Account/Manage" class="nav-link">@User.Identity.Name</a></li>
                        <li class="nav-item"><a asp-controller="Users" asp-action="Logout" class="nav-link">Logout</a></li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="ftco-footer ftco-section img" style="background-image: url(images/bg_4.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Paradise</h2>
                        <p>Far far away, behind the word mountains, far from the countries, there is our Paradise.</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Useful Links</h2>
                        <ul class="list-unstyled">
                            <li><a asp-controller="Rooms" asp-action="OurRooms" class="py-2 d-block">Our Rooms</a></li>
                            <li><a asp-controller="Restaurant" asp-action="Paging" class="py-2 d-block">Our Restaurant</a></li>
                            <li><a asp-controller="Restaurant" asp-action="Blog" class="py-2 d-block">Cooking tips</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Privacy</h2>
                        <ul class="list-unstyled">
                            <li><a asp-controller="Contacts" asp-action="Contact" class="py-2 d-block">Contact Us</a></li>
                            <li><a asp-controller="Home" asp-action="About" class="py-2 d-block">About Us</a></li>
                            <li><a href="https://www.google.com" class="py-2 d-block">Google</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Canary islands.Home office Bulgaria</span></li>
                                <li><span class="icon icon-phone"></span><span class="text">+359 888 777777</span></li>
                                <li><span class="icon icon-envelope"></span><span class="text">paradise@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        All rights reserved. @DateTime.UtcNow.AddHours(2)
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>