@using Microsoft.AspNetCore.Identity;
@model PostsDetailsViewModel
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Details";
    var aspUser = this.userManager.GetUserAsync(this.User);
}

<div class="hero-wrap" style="background-image: url('https://www.chongfahresort.com/wp-content/uploads/2019/12/gallery-slide-overview-02.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <h1 class="mb-4 bread">Detailed info</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <h1 class="mb-3">@this.Model.Title</h1>
                <p>
                    <img src="@this.Model.ImageUrl" alt="" class="img-fluid" width="800" height="500">
                </p>
                <p>@this.Model.Description</p>
                <div class="about-author d-flex p-4 bg-light">
                    <div class="desc align-self-md-center">
                        <h3>Author:  <strong>@this.Model.CreatorUserName</strong></h3>
                    </div>
                </div>
                <div class="pt-5 mt-5">
                    <h3 class="mb-5">@this.Model.CommentsCount Comments</h3>
                    <ul class="comment-list">

                       @foreach (var comment in this.Model.Comments)
                        {
                            <li class="comment">
                                <div class="comment-body">
                                    <h3>@comment.FirstName</h3>
                                    <div class="meta">@comment.CreatedOnToString </div>
                                    <p>@comment.Message</p>
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                    <a class="btn btn-danger" asp-controller="Comments" asp-action="Remove" asp-route-id="@comment.Id">Remove</a>
                                    }
                                </div>
                            </li>
                        }

                   </ul>
                    <!-- END comment-list -->
                    <form method="post" asp-controller="Comments" asp-action="CommentBlog" class="form-horizontal" role="form">
                        @if (string.IsNullOrEmpty(aspUser.Result.FirstName))
                        {
                            <div class="form-group">
                                <label for="inputname" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputname" name="name" placeholder="Name">
                                </div>
                            </div> <!-- End of /.form-group -->
                        }
                        <div class="form-group">
                            <label for="inputmessage" class="col-sm-2 control-label">Message</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputmessage" name="message" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Send</button>
                            </div>
                            <input type="hidden" name="id" value="@this.Model.Id" />
                        </div>
                   </form>
                </div>
            </div>
            <div class="col-lg-4 sidebar ftco-animate pl-md-5">
                <div class="sidebar-box">
                    <h3>Free rooms</h3>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="categories">

                        <vc:rooms></vc:rooms>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a asp-controller="Rooms" asp-action="OurRooms">Rooms</a>
                        <a asp-controller="Restaurant" asp-action="Paging">Products</a>
                        <a asp-controller="Recipes" asp-action="Recipe">Recipe</a>
                        <a asp-controller="Restaurant" asp-action="Salads">Salads</a>
                        <a asp-controller="Restaurant" asp-action="Mains">Mains</a>
                        <a asp-controller="Restaurant" asp-action="Desserts">Desserts</a>
                        <a asp-controller="Recipes" asp-action="All">Recipes</a>
                        <a asp-controller="Restaurant" asp-action="Blog">Videos</a>
                    </div>
                </div>
               <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>
                        We love food! Let’s create a digital cook book for everyone in the region to share our favorite recipes. It may be a new creation, a personalized favourite, a family secret shared by your grandma, your aunt’s prize winning chutney or uncle Ron’s hot sauce.
                        Use our recipe form to load up your original* in the hills recipe – please share your tweaks, culinary secrets and local tips with a photo if possible! Check out the other recipes on our site, share them with friends and on social media. Make them, rate them and comment on the recipes. Let’s get cooking.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .section -->
